<div class="d-flex justify-content-center align-items-center container">
    <form action="/otpverify" method="post">
    <div class="card py-5 px-3">
        <h5 class="m-0">Mobile phone verification</h5><span class="mobile-text">Enter the code we just send on your mobile phone <b class="text-danger"><%= number %></b></span>
        <div class="d-flex flex-row mt-5">
            <input type="text" name="code" class="form-control" autofocus="" placeholder="enter otp" autocomplete="off">
            <!-- <input type="text" class="form-control">
            <input type="text" class="form-control">
            <input type="text" class="form-control"> -->
        </div>
        <div class="text-center mt-5"><span class="d-block mobile-text"></span> <button type="submit"><span class="font-weight-bold text-danger cursor ">Verify</span></button></div>
    </div>
    </form>
</div>